body{
	margin: 0;
	padding: 0;
	font-size: 16;
	font-weight: 16px;
	width: 100;
	background: rgb(204, 204, 204);
	font-family: 'Roboto Condensed' , sans-serif;
}

h2, h4, p{
	margin: 0;

}
.page {
	background: #fff;
	display: block;
	margin: 3rem auto 3rem auto;
	position: relative;
	box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.page[size="A4"]{
	width: 21cm;
	height: 29.7cm;
	overflow-x: hidden;
}